@use "@/scss/abstracts/media-queries" as *;
@use "@/scss/abstracts/typography" as *;

.button {
    --_padding-inline: 2rem;
    --_padding-block: 1.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: var(--_padding-block) var(--_padding-inline);
    @include font-base;
    white-space: nowrap;
    color: var(--color-bg-primary);
    background-color: var(--color-text-primary);
    transition-duration: var(--transition-duration);

    @include onhover {
        color: var(--color-accent);
        background-color: var(--color-bg-primary);
    }

    &--small {
        --_padding-inline: 1rem;
        --_padding-block: 0.5rem;
    }

    &--icon {
        --icon-size: 2rem;

        padding: var(--_padding-block);
    }
}
