@font-face {
    font-family: "Wix Madefor Text";
    src: local("Wix Madefor Text"), url("@/assets/fonts/Wix_Madefor_Text/WixMadeforText-Regular.woff2") format("woff2"),
        url("@/assets/fonts/Wix_Madefor_Text/WixMadeforText-Regular.woff") format("woff"),
        url("@/assets/fonts/Wix_Madefor_Text/WixMadeforText-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
